#visual-changes-menu {
  display:none;
  height: 60px;
  z-index: 1;
  position:fixed;
  top: 0;
  width: 40em;
}

/* somehow the datepicker is shown at the bottom of the page when the
menu is hidden,so hide it at the start its shown later when you click on
a textfield anyways...!*/
#ui-datepicker-div {
	display:none;
}
.visual-changes-time-entry {
	width: 4.35em;
}
#rightarrow {
	font-size: xx-large;
}
.visual-changes-upper-menu-entry {
	float: left;
	padding: 3px;
	margin-right: 10px
}
#vc-from-date-entry {
	width: 7em;
}
#vc-to-date-entry {
	width: 7em;
}
#visual-changes-fromdates {
    background-color: #FFA500;
	margin-right: 10px;
}
#visual-changes-todates {
    background-color: #009900;
}
/* For the additions and deletions to the wikitext */
.vc_addition {
    background-color: #009900;
}
.vc_deletion {
    background-color: #FFA500;
}
.diff-html-added  {
    background-color: #009900;
}
.diff-html-removed {
    background-color: #FFA500;
}
#logdiv
{
	display: none;
    font-size: small;
}

/* Disable buttons for now */
#visual-changes-backward-button {
	display: none;
}


#visual-changes-forward-button{
	display: none;
}